:root {
    --background: #C7C6C4;
}

body {
    background: var(--background);
    font-family: 'Roboto',
    sans-serif;
    font-size: 18px;
    color: var(--background);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

.copy {
    opacity: 0.6;
    text-align: center;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Main =============== */
main {
    background: #004358;
    width: min(60vw, 500px);
    padding: 2rem 1rem;
    margin: auto;
    margin-top: 2rem;
    border-radius: .15rem;
}

.add-note {
    padding: 1rem 0;
    width: min(60vw, 532px);
    margin: auto;
    border-radius: .15rem;
}

/* Table =============== */
table {
    width: 100%;
}

table thead tr th {
    text-align: start;
}

/* Buttons =============== */

button {
    height: 4rem;
    width: 10rem;
    background-color: #7D9EC7;
    border-radius: .25rem;
    border: none;
    box-shadow: 0 .5rem 0 #566475;
    font-size: 20px;
    font-weight: bold;
    color: var(--red);
    transition: .1s;
    cursor: pointer;
}

.button {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.active {
    box-shadow: none;
    height: 4rem;
    border: none;
    transform: translate(0, 9px)
}

.popup-button.active {
    box-shadow: none;
    height: 4rem;
    border: none;
    transform: translate(0, 9px)
}

/* Popup =============== */
.popup {
    display: none;
}

.popup.active {
    background: rgba(0, 0, 0, .7);
    position: fixed;

    height: 100%;
    width: 100%;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-note-canvas {
    background: #727272;
    padding: 2rem 3rem;
    width: min(40vw, 500px);
}

textarea, input {
    width: calc(100% - .8rem);
    margin-bottom: .5rem;
    padding: .5rem 5px;
}

textarea {
    font-size: 20px;
}

input {
    font-size: 20px;
}

.button-canvas {
    display: flex;
    justify-content: space-between;
    color: white;
}

/* Footer =============== */
footer {
    color: #525151;
}

.footer.desactive {
    display: none;
}